@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(17 24 39), rgb(26, 35, 47));
}

@media (prefers-color-scheme: light) {
  :root {
      color-scheme: dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
      color-scheme: dark;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
      color-scheme: dark;
  }
}